<h1>Thoughts ...</h1>

<ul>
  <li>That's the way to do it?</li>
  <li>Backbone, Knockout, ExtJS, JavascriptMVC ?</li>
  <li>How to prevent bad practices ?</li>
  <li>Why should / should not use a framework ?</li>
</ul>
