<h1>Introduction</h1>

<ul>
  <li>Created by Jeremy Ashkenas, creator of CoffeeScript</li>
  <li>Built upon underscore.js</li>
  <li>Very good documentation</li>
  <li>Works with CoffeeScript</li>
  <li>Rails friendly</li>
</ul>
