<h1>Collections</h1>

<h3>Get and Destroy</h3>

<div class="code_wrapper">
  <pre class="brush: javascript">
    var book = Books.get(2);
  </pre>
</div>

<div class="code_wrapper">
  <pre class="brush: javascript">
    book.destroy();
  </pre>
</div>
