<h1>Collections</h1>

<h3>Create from a collection</h3>

<div class="code_wrapper">
  <pre class="brush: javascript">
    var introduction = Books.create({
      title: "An Introduction to Zen Buddhism", 
      price: 10.45, 
      author: "D. T. Suzuki"
    });
  </pre>
</div>
