<h1>Backbone.js</h1>

<h3>A framework for providing structure for Javascript-heavy applications</h3>

<p>
  Provides <span class="strong">models</span> connected with a RESTful interface, <span class="strong">collections</span>,
  <span class="strong">views</span> and <span class="strong">routes</span>.
</p>
