<h1>create from collection model</h1>

<p class="code js">
  <pre>
    var introduction = Books.create({
      title: "An Introduction to Zen Buddhism", 
      price: 10.45, 
      author: "D. T. Suzuki"
    });
  </pre>
</p>

