<h1>fetch collection</h1>

<p class="code js">
  <pre>
    var books = Books.fetch();
  </pre>

  <pre>
    console.log(Books.length);
  </pre>

  <pre>
    Books.each(function(book) {
      var title = book.get("title");
    });
  </pre>
</p>

